<section class="content background-image">
  <div class="container-fluid">
    
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="counter-box ">
          <div class="row">
            <div class="col-3">
              <img src="assets/images/dashbord/ark_org_admin.svg" alt="" />
            </div>
            <div class="col-9">
              <h2 class="font-16 fw-600 text--1A1A1A">Active Organization Admin</h2>
              <p class="clr--4C9CD4 font-36 fw-600 m-0">12</p>
            </div>
          </div>
           
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="counter-box  ">
          <div class="row">
            <div class="col-3">
              <img src="assets/images/dashbord/ark_caregiver.svg" alt="" />
            </div>
            <div class="col-9">
              <h2 class="font-16 fw-600 text--1A1A1A">Active Caregivers</h2>
              <p class="clr--9454A4 font-36 fw-600 m-0">20</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="counter-box ">
          <div class="row">
            <div class="col-3">
              <img src="assets/images/dashbord/ark_professional.svg" alt="" />
            </div>
            <div class="col-9">
              <h2 class="font-16 fw-600 text--1A1A1A">Active Professionals</h2>
              <p class="clr--56DAA5 font-36 fw-600 m-0">12</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</section>
