/* You can add global styles to this file, and also import other style files */


//color
.text--1A1A1A{color: #1A1A1A !important;}
.text--919AA3{color: #919AA3 !important;} 

//font-weight
.fw-500{font-weight: 500 !important;}  
.fw-700{font-weight: 700 !important;}  
.fw-850 {font-weight: 850 !important;}
.fw-600 {font-weight: 600 !important;}
.fw-500 {font-weight: 500 !important;}
 